XMLTemplate/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "blobConnectionName": {
            "type": "String"
        },
        "logicAppName": {
            "type": "String"
        },
        "storageAccountName": {
            "type": "String"
        },
        "integrationAccountName": {
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/integrationAccounts",
            "apiVersion": "2016-06-01",
            "name": "[parameters('integrationAccountName')]",
            "location": "[resourceGroup().location]",
            "sku": {
                "name": "Free"
            },
            "properties": {
                "state": "Enabled"
            }
            // "resources":[
            //     {
            //         "type": "Microsoft.Logic/integrationAccounts/maps",
            //         "apiVersion": "2016-06-01",
            //         "name": "[concat(parameters('integrationAccountName'), '/XMLtoXML')]",
            //         "dependsOn": [
            //             "[resourceId('Microsoft.Logic/integrationAccounts', parameters('integrationAccountName'))]"
            //         ],
            //         "properties": {
            //             "mapType": "Xslt",
            //             "content": "<?xml version=\"1.0\" encoding=\"utf-8\"?><xsl:stylesheet version=\"1.0\" xmlns:xsl=\"http://www.w3.org/1999/XSL/Transform\"xmlns:msxsl=\"urn:schemas-microsoft-com:xslt\" exclude-result-prefixes=\"msxsl\"><xsl:output method=\"xml\" indent=\"yes\"/><xsl:template match=\"@* | node()\"><xsl:copy><xsl:apply-templates select=\"@* | node()\"/></xsl:copy></xsl:template><xsl:template match=\"/\"><EmployeeDataSet><xsl:for-each select=\"Employees/Employee\"><EmployeeInfo><empid><xsl:value-of select=\"concat(first_name,last_name)\"/></empid><first_name><xsl:value-of select=\"first_name\"/></first_name><last_name><xsl:value-of select=\"last_name\"/></last_name><email><xsl:value-of select=\"email\"/></email><gender><xsl:value-of select=\"gender\"/></gender><role><xsl:value-of select=\"role\"/></role></EmployeeInfo></xsl:for-each></EmployeeDataSet></xsl:template></xsl:stylesheet>",
            //             "contentType": "application/xml",
            //             "contentLink": {
            //                 "uri": "https://raw.githubusercontent.com/sauravmalekar/demo-client-app/main/XSLTFile1.xslt"
            //             }
            //         }
            //     }
            // ]
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2021-04-01",
            "name": "[parameters('storageAccountName')]",
            "location": "[resourceGroup().location]",
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "kind": "StorageV2",
            "properties": {
                "allowCrossTenantReplication": true,
                "minimumTlsVersion": "TLS1_2",
                "allowBlobPublicAccess": true,
                "allowSharedKeyAccess": true,
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "services": {
                        "file": {
                            "keyType": "Account",
                            "enabled": true
                        },
                        "blob": {
                            "keyType": "Account",
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                },
                "accessTier": "Hot"
            },
            "resources": [
                {
                    "type": "Microsoft.Storage/storageAccounts/blobServices",
                    "apiVersion": "2021-04-01",
                    "name": "[concat(parameters('storageAccountName'), '/default')]",
                    "dependsOn": [
                        "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
                    ],
                    "sku": {
                        "name": "Standard_LRS",
                        "tier": "Standard"
                    },
                    "properties": {
                        "cors": {
                            "corsRules": []
                        },
                        "deleteRetentionPolicy": {
                            "enabled": true,
                            "days": 7
                        },
                        "isVersioningEnabled": false,
                        "changeFeed": {
                            "enabled": false
                        },
                        "restorePolicy": {
                            "enabled": false
                        },
                        "containerDeleteRetentionPolicy": {
                            "enabled": true,
                            "days": 7
                        }
                    },
                    "resources": [
                        {
                            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
                            "apiVersion": "2021-04-01",
                            "name": "[concat(parameters('storageAccountName'), '/default/employeeinfo')]",
                            "dependsOn": [
                                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccountName'), 'default')]",
                                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
                            ],
                            "properties": {
                                "defaultEncryptionScope": "$account-encryption-key",
                                "denyEncryptionScopeOverride": false,
                                "publicAccess": "Container"
                            }
                        }
                    ]
                }
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('blobConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "LAtoBlob",
                "api": {
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azureblob')]"
                },
                "parameterValues": {
                    "accessKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), providers('Microsoft.Storage', 'storageAccounts').apiVersions[0]).keys[0].value]",
                    "accountName": "[parameters('storageAccountName')]"
                }
            }
        },

        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/integrationAccounts', parameters('integrationAccountName'))]",
                "[resourceId('Microsoft.Web/connections', parameters('blobConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "integrationAccount": {
                    "id": "[resourceId('Microsoft.Logic/integrationAccounts', parameters('integrationAccountName'))]"
                },
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "Employees": {
                                            "properties": {
                                                "Employee": {
                                                    "items": {
                                                        "properties": {
                                                            "email": {
                                                                "type": "string"
                                                            },
                                                            "first_name": {
                                                                "type": "string"
                                                            },
                                                            "gender": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "last_name": {
                                                                "type": "string"
                                                            },
                                                            "role": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "first_name",
                                                            "last_name",
                                                            "email",
                                                            "gender",
                                                            "role"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Create_block_blob_(V2)": {
                            "runAfter": {
                                "Transform_XML": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@body('Transform_XML')",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/codeless/datasets/@{encodeURIComponent('AccountNameFromSettings')}/CreateBlockBlob",
                                "queries": {
                                    "folderPath": "/employeeinfo",
                                    "name": "employees.xml"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Create_block_blob_(V2)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": "@body('Transform_XML')",
                                "statusCode": 200
                            }
                        },
                        "Transform_XML": {
                            "runAfter": {},
                            "type": "Xslt",
                            "inputs": {
                                "content": "@{triggerBody()}",
                                "integrationAccount": {
                                    "map": {
                                        "name": "XMLtoXML"
                                    }
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('blobConnectionName'))]",
                                "connectionName": "azureblob",
                                "id":  "[concat(subscription().id, '/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azureblob')]"
                            }
                        }
                    }
                }
            }
        }

    ]
}